body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #203388;
    margin: 10px;
}

.wrapper{
    padding: 10px;
    background-color: teal;
    border-radius: 5px;
}

h2{
    margin-top: 50px;
    text-align: center;
    color: rgba(3, 3, 3, 0.849);
    font-size: 2rem;
}

h4{
    text-align: center;
    color: rgba(6, 9, 12, 0.849);
    font-size: 25px;

}

.input-group{
    text-align: center;
}

.input-box{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

.name{
    width: 400px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 1rem;
}


.dob{
    right: 10px;
    width: 110px;
    border-radius: 5px;
    padding: 1rem;
}

  button {
    width: 100px;
    background-color: rgb(41, 180, 214);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 5px;
  }


  .input-box select{
      width: 220px;
      height: 45px;
      border-radius: 5px;
  }